@import "tailwindcss";

/*
  Define the primary color variable for the entire application.
  This is used by Tailwind's JIT compiler.
  The value here is a fallback, the actual color is set
  dynamically from the Pinia store in `stores/settings.js`.
*/
:root {
  --color-primary: #D97706; /* Default: yellow-600 */
}

@font-face {
  font-family: Bona;
  src: url(./Fonts/BonaNova-bold.ttf);
}

@font-face {
  font-family: BonaRegular;
  src: url(./Fonts/BonaNova-Regular.ttf);
}


@theme {
  --font-bona: Bona , "sans-serif";
  --font-BonaRegular: BonaRegular , "sans-serif";
}

#header {
  background-image: url(../assets/HomeIcon/Header/walpapper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
