@import "tailwindcss";

@font-face {
  font-family: Bona;
  src: url(./Fonts/BonaNova-bold.ttf);
}

@font-face {
  font-family: BonaRegular;
  src: url(./Fonts/BonaNova-Regular.ttf);
}

@theme {
  --font-bona: Bona , "sans-serif";
  --font-BonaRegular: BonaRegular , "sans-serif";
}

#header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
